<title>{% if page.title %}{{ page.title }} – {% endif %}Medizaa Indonesia Official</title>
{% include metaMain.html %}
{% include metaWordpress.html %}
{% include metaBOT.html %}
{% include metaFacebook.html %}
{% include metaTwitter.html %}
{% include metaJSONCreativeWorkSeries.html %}
{% include metaJSONSuperYoast.html %}
{% include metaJSONNewsArticle.html %}
{% include metaJSONItemList.html %}
{% include metaPWA.html %}
{% include metaVerifikasi.html %}
<link rel="alternate" type="application/rss+xml" title="Atom - Medizaa Indonesia Official" href="{{ site.url }}/feed.xml" />
<link rel="alternate" type="application/rss+xml" title="RSS - Medizaa Indonesia Official" href="{{ site.url }}/rss.xml" />
<link rel='dns-prefetch' href='//medizaaindonesia.biz.id/' /><link rel='dns-prefetch' href='//s.w.org' />
